header {
	position: fixed;
	top: 0;
	left: 0;
	height: 10vh;
	background: white;
	width: 100%;
	z-index: 1;
	font-family: 'Montserrat';
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 4px 7.5px rgba(0, 0, 0, 0.1);
}

select {
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-family: 'Montserrat';
	font-size: 1.25em;
	color: black;
}

option {
	border: 2px solid black;
}
